*{
    margin: 0px;
    font-family:Open Sans ;
}
/* header and navigation style  */   

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
} 
nav ul{
    display: flex;
   list-style: none;
    align-items: center;
   } 
   
   nav li{margin-left: 50px;}
 
.nav-title{ 
    font-weight: 800;
    font-size: 45px;
} 
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    position: absolute;
    height: 64px ;
    border-radius: 5px;
    border: 0px;
    color: aliceblue;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700px;
    padding: 18px 35px;

}